
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 pt-5">
        <% if(recipes != '') { %>
            <% recipes.forEach(function(recipe, index) { %>
        <a href="/recipes/<%- recipe._id%>" class="col text-center category__link">
            <div class="category__img--large category__img shadow">
                <img src="/img/<%- recipe.image %>" alt="<%- recipe.name %>">
            </div>
            <div class="pt-1"><%- recipe.name %></div>
        </a>
            <% }) %>
        <% } %>

    </div>
